.about-banner {
  background: #222831;
  padding: 80px 20px;
  color: white;
}

.about-wrapper {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-image {
  width: 50%;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 420px;
  height: auto;
}

/* RIGHT SIDE CONTENT */
.about-content {
  width: 50%;
}

.about-content h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 42px;
  margin-bottom: 15px;
}

.about-content p {
  line-height: 1.7;
  color: #ddd;
  margin-bottom: 25px;
}

.about-btn {
  background: #f7c02a;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .about-image,
  .about-content {
    width: 100%;
  }

  .about-image {
    height: 350px;
  }
}
